<div class="centerDiv">
    <div style="width: 100%; background-color: cadetblue; text-align: center; padding-top: 5px; padding-bottom: 5px;" >
        <span style="font-size: 20px;">Mapping</span>
    </div>

    <div style="padding-top: 20px;">
<!--        <form>-->
            <table >
                <tr>
                    <th style="text-align: center;">Voucher Type</th>
                    <th style="text-align: center;">Transaction Type</th>
                    <th style="text-align: center;">GST Type</th>
                    <th style="text-align: center;">GST Rate</th>
                    <th style="text-align: center;">Tally Ledger Name</th>
                    <th style="text-align: center;">Action</th>
                </tr>
                <tr *ngFor="let mappingRow of TallyData.mappingData; let i = index">
                    <td>
                        <select [(ngModel)]="mappingRow.voucherType" >
                            <option *ngFor="let VoucherType of VoucherTypesList" name="voucherType" [value]="VoucherType"   >
                                {{VoucherType}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select [(ngModel)]="mappingRow.transactionType" >
                            <option *ngFor="let TransactionType of TransactionTypesList" name="transactionType" [value]="TransactionType"   >
                                {{TransactionType}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <div *ngIf="mappingRow.transactionType == 'GST'" >
                            <select [(ngModel)]="mappingRow.gstType" >
                                <option *ngFor="let GSTType of GSTTypesList" name="gstType" [value]="GSTType"   >
                                    {{GSTType}}
                                </option>
                            </select>
                        </div>
                    </td>                    
                    <td>
                        <div *ngIf="mappingRow.transactionType == 'GST'" >
                            <input type="number" id="gstRate" name="gstRate" [(ngModel)]="mappingRow.gstRate">
                        </div>
                    </td>
                    <td>
                        <div *ngIf="mappingRow.transactionType == 'GST'" >
                            <select [(ngModel)]="mappingRow.tallyLedgerName">
                                <option *ngFor="let Ledger of dutiesandTaxesLedgers" name="TallyLedger" [value]="Ledger.LEDGERNAME" >
                                    {{Ledger.LEDGERNAME}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="mappingRow.transactionType != 'GST'" >
                            <select [(ngModel)]="mappingRow.tallyLedgerName">
                                <option *ngFor="let Ledger of otherLedgers" name="TallyLedger" [value]="Ledger.LEDGERNAME" >
                                    {{Ledger.LEDGERNAME}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td><button (click)="addrow(i)">+</button>&nbsp;&nbsp;
                        <button (click)="deleterow(i)">-</button>
                    </td>
                </tr>        
            </table>              
<!--        </form> -->
    </div>
    <div style="padding-top: 20px; text-align: center;">
        <button (click)="saveMapping()">Save</button>&nbsp;&nbsp;
        <button (click)="cancel()">Close</button>
    </div>
    <div style="padding-top: 20px; text-align: center;">
        <p style="text-align: center;color: red;">         
            {{ResponseMessage }}
        </p>
    </div>

</div>



