@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background: lightsalmon;
  display:inline-block;
  color:black;
  border-radius:3px 3px 0px 0px;  
  box-shadow: 0 0.5rem 0.8rem grey;
}
.panels{
  background:#e4dedef6;
  box-shadow: 0 0.5rem 0.5rem grey;
  min-height:400px;
  width:100%;
  max-width:1000px;
  border-radius:15px;  
  overflow:hidden;
  padding:20px;  
}

.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#e5dfdf;
  color:#000;
  border-top: 3px solid orangered;
}


/*
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

tbody {
  height: 250px;
  overflow-y: auto;
  float: left;
}

thead th {
  height: 25px;
}

 th {
  border: 1px solid #776a6a;
  text-align: center;
  padding: 8px;
  background-color: bisque;
}


td {
  border: 1px solid #413f3f;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
*/

table {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody, tr, td, th { display: block;  }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  border: 1px solid #776a6a;
  /*text-align: left;*/
}

tbody {
  height: 250px;
  overflow-y: auto;  
}


tbody td, thead th {
  float: left;
  border: 1px solid #776a6a;
  border-collapse: collapse;
}
