<div style="width: 100%; background-color: cadetblue; text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;" >
    <span style="font-size: 20px;">Data Import Export</span>
</div>
<div style="padding-top: 5px; padding-left: 30px; text-align: left;">
    <button (click)="backToHome()" >Back to Home</button>&nbsp;&nbsp;
</div>

<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio" *ngIf="TallyData.ExportImport == 0">
  <div class="tabs">
  <label class="tab" id="one-tab" for="one">Masters Data</label>
  <label class="tab" id="two-tab" for="two" *ngIf="TallyData.ExportImport == 0">Transactions Data</label>
</div>
<div class="panels">
    <div class="panel" id="one-panel">
        <div class="panel-title" style="margin-bottom: 10px;">Import Masters Data</div>

        <div style="padding: 5px;">
            <label for="fromDt">Show Master Types:</label> 
            <select [(ngModel)]="selectedMasterType" style="margin-left: 10px ;">
                <option *ngFor="let MastName of MastersTypeList" name="ActionName" [value]="MastName"   >
                    {{MastName}}
                </option>
            </select>                    
            <!-- <button (click)="getFronoVoucherstoExport()" style="margin-left: 10px ;">Filter</button> -->
        </div>        
        <div *ngIf="TallyData.ExportImport == 0">
            <div  class="table-title" style="margin-bottom: 10px; text-align: center;">List of Masters from Frono</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 15%; ">Master Type</th>
                        <th style="text-align: center; width: 19%;">Master Name</th>
                        <th style="text-align: center; width: 10%;">Action</th>
                        <th style="text-align: center; width: 10%;" (click)="toggleSelect(0)">Select</th>
                        <th style="text-align: center; width: 10%;">Status</th>
                        <th style="text-align: center; width: 30%;">Message</th>
                    </tr>
                </thead>                
                 <tbody>
                    <tr *ngFor="let maprow of TallyData.MastersStageData; let i = index">
                        <div *ngIf="selectedMasterType == 'All' || maprow.MasterType == selectedMasterType" >
                            <td class="filterable-cell" style="width: 15%;" >{{maprow.MasterType}}</td>
                            <td class="filterable-cell" style="width: 20%;">{{maprow.MasterName}}</td>
                            <td class="filterable-cell" style="width: 10%;">
                                    <select [(ngModel)]="maprow.Action" >
                                        <option *ngFor="let ActionName of ActionList" name="ActionName" [value]="ActionName"   >
                                            {{ActionName}}
                                        </option>
                                    </select>                    
                            </td>
                            <td class="filterable-cell" style="width: 10%; text-align: center;"><input type="checkbox" [checked]="maprow.isSelected" (change)="maprow.isSelected = !maprow.isSelected"/></td>
                            <td class="filterable-cell" style="width: 10%;">:{{maprow.Status}} </td>
                            <td class="filterable-cell" style="width: 30%;">:{{maprow.Message}} </td>
                        </div>
                    </tr>
                </tbody>                
            </table>
            <div style="padding-top: 20px; padding-right: 30px; text-align: right;" *ngIf="TallyData.ExportImport == 0">
                <button (click)="ExportMasterstoTally()">Export to Tally</button>&nbsp;&nbsp;
            </div>
        </div>
        <div *ngIf="TallyData.ExportImport == 1">
            <div  class="table-title" style="margin-bottom: 10px; text-align: center;">List of Masters from Tally</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 15%; ">Master Type</th>
                        <th style="text-align: center; width: 19%;">Master Name</th>
                        <th style="text-align: center; width: 10%;">Action</th>
                        <th style="text-align: center; width: 10%;" (click)="toggleSelect(1)">Select</th>
                        <th style="text-align: center; width: 10%;">Status</th>
                        <th style="text-align: center; width: 30%;">Message</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr *ngFor="let maprow of TallyData.TallyMastersStageData; let i = index">
                        <div *ngIf="selectedMasterType == 'All' || maprow.MasterType == selectedMasterType" >
                            <td class="filterable-cell" style="width: 15%;" >{{maprow.MasterType}}</td>
                            <td class="filterable-cell" style="width: 20%;">{{maprow.MasterName}}</td>
                            <td class="filterable-cell" style="width: 10%;">
                                    <select [(ngModel)]="maprow.Action" >
                                        <option *ngFor="let ActionName of ActionList" name="ActionName" [value]="ActionName"   >
                                            {{ActionName}}
                                        </option>
                                    </select>                    
                            </td>
                            <td class="filterable-cell" style="width: 10%; text-align: center;"><input type="checkbox" [checked]="maprow.isSelected" (change)="maprow.isSelected = !maprow.isSelected"/></td>
                            <td class="filterable-cell" style="width: 10%;">:{{maprow.Status}} </td>
                            <td class="filterable-cell" style="width: 30%;">:{{maprow.Message}} </td>
                        </div>
                    </tr>
                </tbody>                
            </table>

            <div style="padding-top: 20px; padding-right: 30px; text-align: right;" *ngIf="TallyData.ExportImport == 1">
                <button (click)="SaveMasterstoFrono()">Save to Frono</button>&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div  class="panel" id="two-panel" >
        <div class="panel-title" style="margin-bottom: 10px;">Import Transactions Data</div>

        <div style="padding: 5px;">
            <label for="fromDt">From Date:</label><input type="date" id="fromDt" [(ngModel)]="mFromDt" required > 
            <label for="toDt" style="padding-left: 20px;">To Date:</label><input type="date" id="toDt" [(ngModel)]="mToDt" required >
            
            <select [(ngModel)]="selectedVoucherType" style="margin-left: 10px ;">
                <option *ngFor="let VchrName of VoucherTypeList" name="ActionName" [value]="VchrName"   >
                    {{VchrName}}
                </option>
            </select>                    

            <button (click)="getFronoVoucherstoExport()" style="margin-left: 10px ;">Show Vouchers Data</button>
        </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: center; width: 15%; ">Transaction Type</th>
                    <th style="text-align: center; width: 10%;">Voucher Num</th>
                    <th style="text-align: center; width: 10%;">Voucher Date</th>
                    <th style="text-align: center; width: 10%;">Amount</th>
                    <th style="text-align: center; width: 10%;">Action</th>
                    <th style="text-align: center; width:  5%;" (click)="toggleSelectVchr()">Select</th>
                    <th style="text-align: center; width: 15%;">Status</th>
                    <th style="text-align: center; width: 20%;">Message</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let maprow of TallyData.TransactionsStageData; let i = index">
                        <td class="filterable-cell" style="width: 15%;" >{{maprow.VoucherType}}</td>
                        <td class="filterable-cell" style="width: 10%;">{{!maprow.VoucherRef ? maprow.VoucherNumber : maprow.VoucherRef   }}</td>
                        <td class="filterable-cell" style="width: 10%;">{{maprow.VoucherDate}}</td>
                        <td class="filterable-cell" style="width: 10%; text-align: right;">{{maprow.VoucherAmt}}</td>
                        <td class="filterable-cell" style="width: 10%;">
                            <select [(ngModel)]="maprow.Action" >
                                <option *ngFor="let ActionName of ActionList" name="ActionName" [value]="ActionName"   >
                                    {{ActionName}}
                                </option>
                            </select>                    
                        </td>
                        <td class="filterable-cell" style="width: 5%; text-align: center;"><input type="checkbox" [checked]="maprow.isSelected" (change)="maprow.isSelected = !maprow.isSelected"/></td>
                        <td class="filterable-cell" style="width: 15%;">:{{maprow.Status}} </td>
                        <td class="filterable-cell" style="width: 20%;">:{{maprow.Message}} </td>
                    </tr>
                </tbody>                
            </table>

        <div style="padding-top: 20px; padding-right: 30px; text-align: right;" *ngIf="TallyData.ExportImport == 0">
            <button (click)="ExportVoucherstoTally()">Export to Tally</button>&nbsp;&nbsp;
        </div>
        <div style="padding-top: 20px; padding-right: 30px; text-align: right;" *ngIf="TallyData.ExportImport == 1">
            <button >Save to Frono</button>&nbsp;&nbsp;
        </div>
    </div>

</div>
